@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

:root {
  font-family: "IBM Plex Sans Thai", sans-serif;
}
#root {
  min-height: 100vh;
}
body {
  margin: 0;
}

a:active,
.a:active {
  background-color: var(--fallback-bc, oklch(var(--bc) / 0.1)) !important;
  color: var(--fallback-pc, oklch(var(--pc) / var(--tw-bg-opacity))) !important;
}

.modal-no-scroll,
.no-scroll {
  overflow: hidden;
}

div,
ul {
  gap: 0.5rem;
}
